<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grasshoper and Ants</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" crossorigin="anonymous" integrity="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />    
</head>
<body>
    <div class="container">  
        <div class="grid-x">
            {% block header %}
            {% endblock %}
        </div>
        {% block content %}
        {% endblock %}
        <div id="environment">
        {% block environment %}
        {% endblock %}
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" crossorigin="anonymous" integrity=""></script>    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
    {% if grid == True %} 
        <script src="{{ url_for('static', filename='grid.js') }}"></script>
    {% endif %}
</body>
</html>