@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0;
    width: 100%;
    letter-spacing: 2px;
    font-family: Lato, 'Roboto Mono', monospace;
}

/* Special case handling the only the titles to override default foundation font */
h4 {
    font-family: Lato, 'Roboto Mono', monospace;
}

.container {
    height: fit-content;
    padding: 10px 10px;
    margin: auto;
}

.login {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 360px;
    height: fit-content;
    padding: 10px 10px;
    margin: auto;
    margin-top: 180px; /* experimental fix */
}

.login ul {
    list-style: none;
}
.grid {
    width: 480px;
    height: 480px;
    margin: auto
}

.log {
    border: 1px solid #c84d4d;
    padding: 1rem;
    border-radius: 0;
    margin-bottom: 10px;
}

.grid {
    border: 1px solid rgb(182, 182, 182);
    border-width: 1px 0 0 1px;
}

.grid div {
    border: 1px solid rgb(182, 182, 182);
    border-width: 0 1px 1px 0;
    float: left;
}

.middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    text-align: center
}

.stored {
    color: rgb(101, 130, 153)
}

.newly {
    color: rgb(206, 38, 12)
}

.energy {
    color: crimson
}

#informative {
    display: none;
}